@{
    Layout = null; // не использовать компоновку.
                   // Компоновки необходимы для создания страниц по шаблону. Будут рассмотрены в следующих уроках
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lesson-01</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <a href="~/Documents/001. MVC Introduction.pdf">Download the lesson description</a>
</body>
</html>


